
tube.xcodeproj/project.xcworkspace/xcuserdata/s.sojik.xcuserdatad/WorkspaceSettings.xcsettings

tube.xcodeproj/project.xcworkspace/xcuserdata/s.sojik.xcuserdatad/UserInterfaceState.xcuserstate

tube.xcodeproj/project.xcworkspace/xcuserdata/s.sojik.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcscheme