<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>ver</key>
		<string>1</string>
		<key>name</key>
		<string>Cuba</string>
		<key>filename</key>
		<string>cuba</string>
		<key>description</key>
		<string>cuba.txt</string>
		<key>picture</key>
		<string>cuba.png</string>
		<key>zip_download</key>
		<string>/maps/cuba/cuba.zip</string>
	</dict>
</dict>
</plist>
