<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.starovoitov.hiddencities.paris</key>
	<dict>
		<key>url1</key>
		<string>http://www.x-provocation.com/maps/paris/osm</string>
		<key>url2</key>
		<string>http://www.x-provocation.com/maps/cuba/RASTER</string>
		<key>ver</key>
		<string>1</string>
		<key>name</key>
		<string>Paris</string>
		<key>filename</key>
		<string>paris</string>
		<key>description</key>
		<string>paris.txt</string>
		<key>picture</key>
		<string>preview_paris.png</string>
		<key>icon</key>
		<string>tr_paris.png</string>
		<key>zip_download</key>
		<string>/maps/paris/paris1.zip</string>
		<key>appstore_link</key>
		<string>http://itunes.apple.com/app/paris.metro/id513581498</string>
	</dict>
	<key>com.zuev.hiddencities.berlin</key>
	<dict>
		<key>url1</key>
		<string>http://www.x-provocation.com/maps/berlin/osm/</string>
		<key>url2</key>
		<string>http://www.x-provocation.com/maps/cuba/RASTER</string>
		<key>ver</key>
		<string>1</string>
		<key>name</key>
		<string>Berlin</string>
		<key>filename</key>
		<string>berlin</string>
		<key>description</key>
		<string>berlin.txt</string>
		<key>picture</key>
		<string>preview_berlin.png</string>
		<key>icon</key>
		<string>tr_berlin.png</string>
		<key>zip_download</key>
		<string>/maps/berlin/berlin1.zip</string>
		<key>appstore_link</key>
		<string>http://itunes.apple.com/app/paris.metro/id513581498</string>
		<key>statusURL</key>
		<string>   </string>
	</dict>
	<key>com.zuev.hiddencities.venice</key>
	<dict>
		<key>url1</key>
		<string>http://www.x-provocation.com/maps/cuba/OSM</string>
		<key>url2</key>
		<string>http://www.x-provocation.com/maps/cuba/RASTER</string>
		<key>ver</key>
		<string>1</string>
		<key>name</key>
		<string>Venice</string>
		<key>filename</key>
		<string>venice</string>
		<key>description</key>
		<string>venice.txt</string>
		<key>picture</key>
		<string>preview_venice.png</string>
		<key>icon</key>
		<string>tr_venice.png</string>
		<key>zip_download</key>
		<string>/maps/venice/venice1.zip</string>
		<key>appstore_link</key>
		<string>http://itunes.apple.com/app/paris.metro/id513581498</string>
		<key>statusURL</key>
		<string>http://metro.dim0xff.com/venice/data_RU.txt</string>
		<key>altStatusURL</key>
		<string>http://metro.dim0xff.com/venice/data.txt</string>
	</dict>
	<key>com.zuev.hiddencities.nyc</key>
	<dict>
		<key>url1</key>
		<string>http://www.x-provocation.com/maps/cuba/OSM</string>
		<key>url2</key>
		<string>http://www.x-provocation.com/maps/cuba/RASTER</string>
		<key>ver</key>
		<string>1</string>
		<key>name</key>
		<string>NYC</string>
		<key>filename</key>
		<string>nyc</string>
		<key>description</key>
		<string>nyc.txt</string>
		<key>picture</key>
		<string>preview_nyc.png</string>
		<key>icon</key>
		<string>tr_nyc.png</string>
		<key>zip_download</key>
		<string>/maps/venice/venice1.zip</string>
		<key>appstore_link</key>
		<string>http://itunes.apple.com/app/paris.metro/id513581498</string>
		<key>statusURL</key>
		<string>http://metro.dim0xff.com/nyc/data_RU.txt</string>
		<key>altStatusURL</key>
		<string>http://metro.dim0xff.com/nyc/data.txt</string>
	</dict>
</dict>
</plist>
