<?xml version="1.0" encoding="UTF-8"?>
<routes updated="2012-03-16T21:41:39">
  <route route="U1" file="route-1">Norderstedt Mitte - Hauptbahnhof Süd - Ohlstedt / Großhansdorf</route>
  <route route="U2" file="route-2">Niendorf Nord - Hauptbahnnof Nord - Mummelmannsberg</route>
  <route route="U3" file="route-3">Barmbek - Schlump - Hauptbahnhof Sud - Wandsbek-Gartenstadt</route>
  <route route="S1" file="route-4">Wedel - Jungfernstieg - Hauptbahnhof - Ohlsdorf - Hamburg Airport/Poppenbuettel</route>
  <route route="S1" file="route-5">Blankenese - Altona - Dammtor - Hauptbahnhof - Barmbek - Poppenbuettel</route>
  <route route="S2" file="route-6">Altona - Jungfernstieg - Hauptbahnhof - Bergedof</route>
  <route route="S2" file="route-7">Elbgaustrasse - Dammtor - Hauptbahnhof - Bergedof - Aumuehle</route>
  <route route="S3" file="route-8">Pinneberg - Altona - Jungfernstieg - Hauptbahnhof - Neugraben - Stade</route>
  <route route="S3" file="route-9">Altona - Dammtor - Hauptbahnhof - Berliner Tor/Neugraben</route>
</routes>
