@font-face {
  font-family: Myriad Pro;
  src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
  font-family: Myriad Pro2;
  src: url(../fonts/MyriadPro-SemiboldIt.otf);
}
h1 {
  font-family: Myriad Pro2;
  font-style: normal !important;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: Myriad Pro, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
a {
  color: #000;
  text-decoration: none;
}
html, body {
	height: 100%;
}
body {
	min-height: 600px;
}

@media only screen and (min-device-height: 490px) and (max-device-height: 568px) {
	/* iphone 5*/
.type-luvr-headimg{
	position:absolute;
	bottom:0px;
	right:0;
	height:394px;
}
.text-luvr{
	margin-top:450px;
}
.head_block{
	 font-size:26px;
	 color:#284795;
	 font-family: Myriad Pro2;
	 font-weight:bold;
	 line-height:20px;
	 position:absolute;
	 top:185px;
	 left:8px;
	}
hr{
	width:250px;
	position:absolute;
	text-align:left;
	top:233px;
	left:11px;
	height:0;
	border:none;
	border-top:1px solid #999;
	margin:0;
}
.header_two{
	font-size:10px;
	 color:#333;
	 font-family: Myriad Pro;
	 line-height:20px;
	 position:absolute;
	 top:233px;
	 left:10px;
	 font-weight:bold;
}
}
@media only screen and (min-device-height: 320px) and (max-device-height: 490px) {
	/* iphone 4*/
.type-luvr-headimg{
	position:absolute;
	bottom:0px;
	right:0;
	max-width:100%;
  }
.head_block{
	 font-size:26px;
	 color:#284795;
	 font-family: Myriad Pro2;
	 line-height:20px;
	 position:absolute;
	 top:94px;
	 left:8px;
	}
hr{
	width:250px;
	position:absolute;
	text-align:left;
	top:140px;
	left:11px;
	height:0;
	border:none;
	border-top:1px solid #999;
	margin:0;
}
.header_two{
	font-size:10px;
	 color:#333;
	 font-family: Myriad Pro;
	 line-height:20px;
	 position:absolute;
	 top:143px;
	 left:10px;
	 font-weight:bold;
}
.text-luvr{
	margin-top:360px;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  /* iphone 4*/
  /* type 2 - button*/
.top-img{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	font-size:10px;
	color:#fff;
	font-style:italic;
}
.top-img img{
	width:40px;
	vertical-align:middle;
	margin-right:10px;
}

.cont-slider{
	width:100%;
	height:100%;
}
.caroufredsel_wrapper {
	width: 100% !important;
	height: 100% !important;
}
.prev {
	display:none !important;
	float: left;
	margin-left: 10px;
}
.next {
	display:none !important;
	float: right;
	margin-right: 10px;
}
#carousel div {
	width: 100%;
	height: 100%;
	overflow: hidden;
	float: left;
}
#carousel div img {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
}
#text {
	margin: -80px 0 0 -117px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
}
#text small, #text small * {
	font-size: 12px;
	color: #666;
}
#text a{
	position:relative;
	width:80px;
	float:left;
}
#text a .texts1{
	position:absolute;
	top:45px;
	left:10px;
	font-size:7px;
	font-weight:bold;
	width:70px;
	text-align:center;
}
#text a .texts2{
	position:absolute;
	top:41px;
	left:14px;
	font-size:7px;
	font-weight:bold;
	width:60px;
	text-align:center;
}
#text a .texts3{
	position:absolute;
	top:21px;
	left:5px;
	font-size:7px;
	font-weight:bold;
	width:70px;
	text-align:center;
}
#text p{
	clear:both;
	width:220px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	margin-left:5px;
}
#text img{
	max-width:100%;
}
.type2-text{
	margin-left:90px;
	margin-right:5px;
}
.type2-text .str1{
	margin-top:-40px;
	color:#fff;
	text-align:left;
}
.type2-text .str2{
	margin-top:-60px;
	color:#fff;
	text-align:left;
	line-height:25px;
}
  /*END type 2 - button*/
  
  
  /*type 4*/
  .type4-headimg-iphone {
    left: 50%;
    margin-left: -200px;
    position: relative;
    width: 400px;
  }
  .type9-headimg-iphone {
    position: relative;
    width: 400px;
  }
  .type10-headimg-iphone {
    position: absolute;
    bottom: 0px;
    height: 393px;
    width: auto;
  }
  .type4-headimg {
    max-width: 100%;
  }
  .grad4-img {
    width: 320px;
    height: 50px;
    position: absolute;
    bottom:0px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  }
  .type9-headimg {
    display: none;
  }
  .type10-headimg {
    display: none;
  }
  /*type 4*/
  /*type 2*/
  .type2-headimg {
    max-width: 100%;
  }
  .type1-img1-float2 {
    display: none;
  }
  .type1-text,
  .type4-text {
    margin: 0 5px;
  }
  .type1-img1 {
    margin-left: 2px;
  }
  /*type 2*/
  /*type 1*/
  .type1-img1-float {
    display: none;
  }
  .clear {
    display: none;
  }
  .type1-img1 {
    display: block;
    width: 240px;
    -webkit-border-radius: 10px;
  }
  .type1-footimg {
    display: none;
  }
  .type1-heading {
    left: 50%;
    margin-left: -300px;
    position: relative;
    width: 600px;
  }
  .type3-heading {
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 800px;
  }
  .container,
  .container4 {
    width: 320px;
    overflow: hidden;
  }
  /*type 1*/
  /*type 3*/
  h1 {
    font-size: 28px;
    font-style: italic;
    color: #284795;
    text-align: center;
    margin-bottom: 0.2em;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
  .text_full,
  .text_full_2,
  .text_full_3 {
    margin: 0 5px;
  }
  .img1 {
    margin-top: 20px;
    position: absolute;
    left: 25px;
    width: 105px;
  }
  .img1_3 {
    margin-top: 20px;
    position: absolute;
    left: 5px;
    width: 310px;
  }
  .img1_1 {
    left: 5px;
    width: 205px;
  }
  .img2 {
    position: absolute;
    left: 145px;
    width: 155px;
  }
  .img2_3 {
    left: 0;
    margin-top: 205px;
    width: 195px;
    z-index: 5;
  }
  .img2_2 {
    position: absolute;
    left: 205px;
    width: 105px;
    z-index: 5;
  }
  .img3 {
    margin-top: 245px;
    position: absolute;
    left: 0px;
    width: 170px;
  }
  .img3_3 {
    margin-top: 245px;
    left: 175px;
    width: 140px;
  }
  .img3_2 {
    margin-top: 145px;
    width: 180px;
  }
  .img4 {
    margin-top: 185px;
    position: absolute;
    left: 170px;
    width: 120px;
  }
  .img4_2 {
    margin-top: 235px;
    position: absolute;
    left: 170px;
    width: 120px;
  }
  .wrap img {
    max-width: 100%;
  }
  .opinion {
    text-align: center;
    font-size: 10px;
    font-stretch: italic;
  }
  .imgfoot {
    display: none;
  }
  .container2 {
    margin-top: -30px;
  }
}
/*type 3*/
/* iphone */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* ipad */
  hr{
	display:none;
  }
  /* type 2 - button*/
.caroufredsel_wrapper {
	width: 100% !important;
	height: 100% !important;
}
.prev {
	display:none !important;
	float: left;
	margin-left: 10px;
}
.next {
	display:none !important;
	float: right;
	margin-right: 10px;
}
#carousel div {
	width: 100%;
	height: 100%;
	overflow: hidden;
	float: left;
}
#carousel div img {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
}
#text {
	margin: -225px 0 0 -280px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
}
#text small, #text small * {
	font-size: 12px;
	color: #666;
}
#text a{
	position:relative;
	width:190px;
	float:left;
}
#text a .texts1{
	position:absolute;
	top:115px;
	left:35px;
	font-size:16px;
	font-weight:bold;
	width:140px;
	text-align:center;
}
#text a .texts2{
	position:absolute;
	top:100px;
	left:35px;
	font-size:16px;
	font-weight:bold;
	width:140px;
	text-align:center;
}
#text a .texts3{
	position:absolute;
	top:60px;
	left:15px;
	font-size:16px;
	font-weight:bold;
	width:160px;
	text-align:center;
}
#text p{
	clear:both;
	width:475px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	color:#fff;
	margin-left:50px;
}
#text img{
	max-width:100%;
}
.top-img{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	font-size:25px;
	color:#fff;
	font-style:italic;
}
.top-img img{
	width:66px;
	vertical-align:middle;
	margin-right:10px;
}
  /*END type 2 - button*/  
  /*type 4*/
  .type4-abs {
    position: absolute;
    top: 213px;
    right: 0;
    width: 325px;
    height: 455px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 10px 0 0 10px;
    padding: 20px 0 0 20px;
    margin: 0 !important;
  }
  .type4-abs .type4-text {
    overflow: auto;
    height: 433px;
  }
  .type4-abs .type4-text h1 {
    margin: 0 0 5px 0;
  }
  .type4-abs .grad4 {
    width: 95%;
    height: 40px;
    position: absolute;
    top: 415px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(193, 185, 180, 0.7)));
  }
  .type4-headimg-iphone {
    display: none;
  }
  .type9-headimg-iphone {
    display: none;
  }
  .type10-headimg-iphone {
    display: none;
  }
  /*type 4*/
  /*type 2*/
  .type1-img1-float2 {
    float: left;
    margin-top: 220px;
    margin-left: -240px;
    width: 240px;
    -webkit-border-radius: 10px;
  }
  .container2 {
    margin-top: -105px;
  }
  /*type 2*/
  /*type 1*/
  .type1-heading {
    display: none;
  }
  .type1-img1-float {
    float: left;
    margin-top: 40px;
    width: 240px;
    -webkit-border-radius: 10px;
    position: relative;
  }
  .type1-img1 {
    display: none;
  }
  .type1-text {
    margin-left: 260px;
    text-decoration: none;
  }
  .type2-text {
    margin-left: 250px;
    text-decoration: none;
  }
  .type2-text h1{
	margin-top:0;
	}
  .type1-footimg {
    position: absolute;
    bottom: 0px;
    min-width: 100%;
  }
  .type1-scroll {
    height: 335px;
    overflow: auto;
    text-decoration: none;
  }
  .type1-scroll_2 {
    height: 410px;
    overflow: auto;
  }
  .grad1 {
    width: 500px;
    height: 40px;
    position: absolute;
    bottom: 365px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  }
  .grad-black {
    width: 500px;
    height: 40px;
    position: absolute;
    bottom: 365px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  }
  /*type 1*/
  /*type 3*/
  h1 {
    font-size: 31px;
    font-style: italic;
    color: #284795;
    margin-bottom: 0.2em;
  }
  p {
    margin: 0;
    font-size: 16px;
  }
  .text_full {
    height: 548px;
    overflow: auto;
  }
  .text_full-luvr {
    height: 358px;
    overflow: auto;
  }
  .text_full_2 {
    height: 320px;
    overflow: auto;
  }
  .text_full_3 {
    height: 340px;
    overflow: auto;
  }
  .grad {
    width: 320px;
    height: 40px;
    position: absolute;
    bottom: 394px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  }
  .grad-gray {
    width: 320px;
    height: 40px;
    position: absolute;
    bottom: 394px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0)), to(#eeeeee));
  }
  .text {
    width: 315px;
    float: left;
    margin-right: 10px;
  }
  .text img {
    display: none;
  }
  .img1 {
    position: absolute;
    top: 20px;
    left: 330px;
    width: 190px;
  }
  .img1_3 {
    top: -10px;
    left: 320px;
    width: 421px;
  }
  .img1_1 {
    left: 320px;
    width: 301px;
    z-index: 5;
  }
  .img2 {
    position: absolute;
    top: 20px;
    left: 530px;
    width: 210px;
  }
  .img2_3 {
    top: 220px;
    left: 340px;
    width: 222px;
    z-index: 5;
  }
  .img2_2 {
    width: 150px;
    left: 600px;
  }
  .img3 {
    position: absolute;
    top: 310px;
    left: 390px;
    width: 160px;
  }
  .img3_3 {
    top: 250px;
    left: 540px;
    width: 200px;
  }
  .img3_2 {
    top: 230px;
    width: 200px;
  }
   .img1b {
    position: absolute;
    top: 5px;
    left: 330px;
    width: 180px;
  }
   .img2b {
    position: absolute;
    top: 1px;
    left: 495px;
    width: 230px;
  }
   .img3b {
    position: absolute;
    top: 340px;
    left: 340px;
    width: 180px;
  }
  .img4b {
    position: absolute;
    top: 290px;
    left: 540px;
    width: 160px;
  }
     .img1c {
    position: absolute;
    top: 5px;
    left: 310px;
    width: 300px;
  }
   .img2c {
    position: absolute;
    top: 30px;
    left: 600px;
    width: 150px;
  }
   .img3c {
    position: absolute;
    top: 180px;
    left: 340px;
    width: 240px;
  }
       .img1d {
    position: absolute;
    top: 1px;
    left: 350px;
    width: 340px;
  }
   .img2d {
    position: absolute;
    top: 190px;
    left: 310px;
    width: 240px;
  }
   .img3d {
    position: absolute;
    top: 150px;
    left: 550px;
    width: 200px;
  }
  .img4_2 {
    width: 133px;
    top: 310px;
  }
    .img4 {
    position: absolute;
    top: 300px;
    left: 565px;
    width: 180px;
  }
   .img1e {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 300px;
  }
   .img2e {
    position: absolute;
    top: 265px;
    left: 520px;
    width: 220px;
  }
   .img3e {
    position: absolute;
    top: 1px;
    left: 490px;
    width: 265px;
  }
  .opinion {
    text-align: center;
    font-size: 13px;
    font-style: italic;
  }
  .content {
    margin: 15px 15px 0 15px;
  }
  .content2 {
    margin: 5px 15px 0 15px;
  }
  .imgfoot {
    position: absolute;
    bottom: 0px;
    min-width: 100%;
  }
  img {
    max-width: 100%;
  }
  .super-cont {
    height: 745px;
    position: relative;
    overflow: hidden;
  }
  .cont-slider {
    height: 745px;
	width:100%;
    position: relative;
    overflow: hidden;
  }
  .wrap {
    position: relative;
    z-index: 2;
  }
  .head_block{
 font-size:31px;
 font-style:italic;
 color:#284795;
 margin-bottom:0.2em;
 font-family: Myriad Pro2;
 font-style:normal !important;
 font-weight:normal;
}
}
/*type 3*/
/* ipad */