<?xml version="1.0" encoding="UTF-8"?>
<routes updated="2012-03-11T14:43:01">
  <route route="LINEA 1" file="route-1">P.ROMA - FERROVIA - RIALTO - S.TOMA' - S.MARCO - LIDO</route>
  <route route="LINEA 2" file="route-2">S.ZACCARIA - GIUDECCA - TRONCHETTO - P.ROMA - FERROVIA - RIALTO - S.MARCO GIARDINETTI</route>
  <route route="LINEA 3" file="route-3">P.LE ROMA - FERROVIA - MURANO - FERROVIA - P.LE ROMA</route>
  <route route="LINEA 4.1" file="route-4">MURANO - F.TE NOVE - FERROVIA - P.ROMA - GIUDECCA -S.ZACCARIA - F.TE NOVE ‐ MURANO</route>
  <route route="LINEA 4.2" file="route-5">MURANO - F.TE NOVE - S.ZACCARIA - GIUDECCA - P.ROMA -FERROVIA - F.TE NOVE - MURANO</route>
  <route route="LINEA 5.1" file="route-6">LIDO - OSPEDALE ‐ F.TE NOVE - FERROVIA - P.ROMA - ZACCARIA - LIDO</route>
  <route route="LINEA 5.2" file="route-7">LIDO - S.ZACCARIA - P.ROMA - FERROVIA - F.TE NOVE - OSPEDALE - LIDO</route>
  <route route="LINEA 6" file="route-8">P.ROMA - S.MARTA - S.BASILIO - ZATTERE - GIARDINI - S.ELENA - LIDO</route>
  <route route="LINEA 9" file="route-9">BURANO - TORCELLO</route>
  <route route="LINEA 10" file="route-10">NAVETTA LIDO - S. MARCO GIARDINETTI</route>
  <route route="LINEA 11" file="route-11">ALBERONI FARO ROCCHETTA - S.MARIA DEL MARE - PELLESTRINA -CHIOGGIA</route>
  <route route="LINEA 12" file="route-12">F.TE NOVE - BURANO - TREPORTI - PUNTA SABBIONI</route>
  <route route="LINEA 13" file="route-13">F.TE NOVE - MURANO - VIGNOLE - S.ERASMO / S.ERASMO -TREPORTI</route>
  <route route="LINEA 14" file="route-14">VENEZIA (Pietà) - LIDO (S.M.E.- S.Nicolò) - P.SABBIONI P.SABBIONI -TREPORTI - BURANO - MURANO - VENEZIA (F.te Nove)</route>
  <route route="LINEA 15" file="route-15">VENEZIA - P.SABBIONI</route>
  <route route="LINEA 16" file="route-16">FUSINA - ZATTERE</route>
  <route route="LINEA 17" file="route-17">SERVIZIO TRASPORTO AUTOMEZZI TRONCHETTO - LIDO S.NICOLO'</route>
  <route route="LINEA 20" file="route-18">S.ZACCARIA - S.SERVOLO - S.LAZZARO - S.SERVOLO - S.ZACCARIA</route>
  <route route="LINEA 22" file="route-19">P.SABBIONI - F.TE NOVE - TRE ARCHI </route>
  <route route="LINEA N" file="route-20">S.ZACCARIA - CANALE GIUDECCA - CANAL GRANDE - LIDO</route>
  <route route="LINEA NOTTURNO LAGUNA NORD" file="route-21">F.TE NOVE - S.ERASMO - BURANO- P.SABBIONI</route>
  <route route="NOTTURNOMURANO" file="route-22">F.TE NOVE - MURANO - F.TE NOVE</route>
  <route route="ALILAGUNA BLU" file="route-23">AEROPORTO - MURANO COLONNA - F.TE NOVE - LIDO - S.ZACCARIA - S.MARCO - MOLINO STUCKY - MARITTIMA</route>
  <route route="ALILAGUNA ARANCIO" file="route-24">AEROPORTO-FTE NOVE-MADONNA DELL'ORTO-GUGLIE-S.STAE-RIALTO-S.ANGELO-S.MARCO</route>
</routes>
