html,
body{
	margin:0;
	padding:0;
	background:#f5f4f5;
	font-family:Myriad Pro,Helvetica,Arial,sans-serif;
	color: #312e26;
	font-size:20px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight:normal;
	}
html{
	overflow-y: scroll;
	position: relative;
	min-height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size:100%;
	line-height: 1;
	font-family: inherit;
	}
table{
	border-collapse: collapse;
	border-spacing: 0;
	}
ol,ul {
	list-style: none;
	}
q:before,q:after,blockquote:before,blockquote:after {
	content:"";
	}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block;
	}
audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
audio:not([controls]) {
	display: none;
	}
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	}
sup {
	top: -0.5em;
	}
sub {
	bottom: -0.25em;
	}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	}
button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	}
button,input {
	line-height: normal;
	*overflow: visible;
	}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
	}
button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	}
input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	}
textarea {
	overflow: auto;
	vertical-align: top;
	}
a{
	color: #333;
	text-decoration:underline;
	}
a:focus {
	outline: 0;
	}
a:hover,
a:active {
	outline: 0;
	text-decoration:none;
	}
.clear {
	clear: both;
	}

/*Text Styles*/
.content{
	padding:0 5%;
	position:relative;
	z-index:2;
	margin:0 0 20px 0;
	}
.controls{
	display:block;
	width:34px;
	height:64px;
	position:absolute;
	top:0;
	text-decoration:none;
	z-index:99;
	}
.text-images a.controls{
	top:50%;
	position:fixed;
	}
.controls.prev{
	background:url(images/prev.png) center center no-repeat;
	left:0.5%;
	}
.controls.next{
	background:url(images/next.png) center center no-repeat;
	right:0.5%;
	}
.content h1{
	color:#fcfcfc;
	font-size:400%;
	font-style:italic;
	font-weight:bold;
	padding:0 5%;
	}
.content h3{
	color:#495061;
	font-size:200%;
	font-style:italic;
	padding:0 0 20px 0;
	}
.text-part div.bgbot{
	background:transparent url(images/bg.png) bottom left repeat-x;
	height:45px;
	position:relative;
	z-index:2;
	margin:-45px 0 0 0;
	}
.text-part p{
	line-height:1.3;
	padding:10px 0;
	}
.text-part p.first-letter{
	color:#1f1f25;
	float:left;
	font-size:460%;
	padding:0;
	margin:-5px 7px -5px 0;
	}
.text-part div.note{
	float:right;
	color:#212534;
	width:25%;
	font-size:150%;
	line-height:1.2;
	padding:0 0 0 3%;
	margin:15px 0 15px 5%;
	border-left:2px solid #188ff2;
	}

/*Adaptive*/
@media all and (min-device-width:1001px) and (max-device-width:1900px){
	.content{margin:0 0 18px 0;}
	.content h1{font-size:360%;}
	.content h3{font-size:180%;padding:0 0 18px 0;}
	.text-part p{padding:9px 0; font-size:100%;}
	.text-part p.first-letter{font-size:414%;margin:-5px 6px -5px 0;}
	.text-part div.note{font-size:135%;margin:14px 0 14px 5%;}
	}
@media all and (min-device-width:801px) and (max-device-width:1000px){
	.content{margin:0 0 18px 0;}
	.content h1{font-size:360%;}
	.content h3{font-size:190%;padding:0 0 18px 0;}
	.text-part p{padding:9px 0; font-size:200%;}
	.text-part p.first-letter{font-size:414%;margin:-5px 6px -5px 0;}
	.text-part div.note{font-size:165%;margin:14px 0 14px 5%;}
	}
@media all and (min-device-width:481px) and (max-device-width:630px){
	.content{margin:0 0 10px 0;}
	.content h1{font-size:200%;}
	.content h3{font-size:100%;padding:0 0 10px 0;}
	.text-part p{padding:6px 0;font-size:100%;}
	.text-part p.first-letter{font-size:125%;margin:-1px 6px -2px 0;}
	.text-part div.note{font-size:100%;margin:8px 0; float:none; width:100%;}
	}
@media all and (min-device-width:321px) and (max-device-width:480px){
	.content{margin:0 0 6px 0;}
	.content h1{font-size:120%;}
	.content h3{font-size:80%;padding:0 0 12px 0;}
	.text-part p{padding:5px 0;font-size:100%;}
	.text-part p.first-letter{font-size:135%;margin:2px 6px -4px 0;}
	.text-part div.note{font-size:80%;margin:6px 0; float:none; width:100%;}
	}
@media all and (min-device-width:631px) and (max-device-width:800px){
	.content{margin:0 0 14px 0;}
	.content h1{font-size:280%;}
	.content h3{font-size:100%;padding:0 0 14px 0;}
	.text-part p{padding:7px 0;font-size:80%;}
	.text-part p.first-letter{font-size:120%;margin:-4px 5px -4px 0;}
	.text-part div.note{font-size:115%;margin:11px 0 11px 5%;}
	}
@media all and (max-device-width:320px){
	.content{margin:0 0 6px 0;}
	.content h1{font-size:150%;}
	.content h3{font-size:85%;padding:0 0 12px 0;}
	.text-part p{padding:5px 0;font-size:70%;}
	.text-part p.first-letter{font-size:120%;margin:2px 6px -4px 0;}
	.text-part div.note{font-size:100%;margin:6px 0; float:none; width:100%;}
	}

/*Text and Images*/
.text-images{
	padding:2%;
	position:relative;
	}
.text-text{
	margin:0 540px 0 0;
	}
.text-text div.bgbot{
	background:transparent url(images/bg.png) bottom left repeat-x;
	height:45px;
	position:relative;
	z-index:2;
	margin:-45px 0 0 0;
	}
.text-images div.images{
	width:540px;
	position:absolute;
	top:2%;
	right:0;
	}
.text-images div.images a{
	display:block;
	float:left;
	font-size:90%;
	text-decoration:none;
	}
.text-images div.images a img{
	margin:0 0 15px 0;
	max-width:263px;
	}
.text-images div.images a.html5lightbox.first{
	margin:21px 29px 0 59px;
	}
.text-images div.images a.html5lightbox.third{
	margin:35px 0 0 60px;
	}
.text-images div.images a.html5lightbox.third span{
	padding:0 0 0 80px;
	display:block;
	}
.text-images div.images a.html5lightbox.forth{
	margin:-55px 0 10px -45px;
	}
.text-images div.images a.html5lightbox.forth span{
	padding:0 0 0 45px;
	display:block;
	}
.text-images div.images a.html5lightbox.fifth{
	margin:-105px 20px 0 0;
	}
.text-images div.images a.seventh img{
	max-width:257px;
	}
.text-images div.images a.seventh span{
	text-align:center;
	padding:0 10px 0 0;
	display:block;
	}
.text-images div.images a.eighth img{
	max-width:247px;
	}
.text-images div.images a.ninth{
	margin:-30px 0 0 0;
	}
.text-images div.images a.ninth img{
	max-width:195px;
	}
.text-images div.images a.ninth span{
	display:block;
	margin:-185px -50px 0 205px;
	}
.text-images div.images a.tenth img{
	max-width:263px;
	}
.text-images div.images a.tenth span{
	text-align:center;
	padding:0 0 10px 0;
	display:block;
	}
.text-images div.images a.eleventh img{
	max-width:228px;
	}
.text-images div.images a.eleventh span{
	text-align:center;
	padding:0 25px 0 0;
	display:block;
	}
.text-images div.images a.twelfth img{
	max-width:215px;
	}
.text-images div.images a.twelfth span{
	text-align:center;
	margin:-270px 0 0 -180px;
	display:block;
	}
.text-images h2{
	color:#284795;
	font-style:italic;
	font-size:200%;
	font-weight:600;
	padding-bottom:10px;
	}
.text-images p{
	line-height:1.3;
	padding:10px 0;
	}

/*Adaptive Text and Images*/
@media all and (min-width:641px) and (max-width:800px){
	.text-images h2{font-size:160%;}
	.text-images p{font-size:80%;}
	}
@media all and (min-width:563px) and (max-width:640px){
	.text-text{margin:0;}
	.text-images div.images{position:inherit; margin:2% 0 0 0;}
	.text-images div.images a{font-size:80%;}
	.text-images h2{font-size:160%;}
	.text-images p{font-size:80%;}
	}
@media all and (min-width:481px) and (max-width:562px){
	.text-text{margin:0;}
	.text-images div.images{position:inherit; margin:2% 0 0 0;width:462px;}
	.text-images div.images a{font-size:80%;}
	.text-images div.images a img{max-width:195px!important;}
	.text-images div.images a.eleventh{margin-top:50px;}
	.text-images h2{font-size:120%;}
	.text-images p{font-size:70%;}
	}
@media all and (min-width:321px) and (max-width:480px){
	.text-text{margin:0;}
	.text-images div.images{position:inherit; margin:2% auto;width:308px;}
	.text-images div.images a{margin:15px auto!important;font-size:60%; }
	.text-images div.images a span{padding:0!important;margin:0!important;}
	.text-images div.images a img{max-width:195px!important;}
	.text-images h2{font-size:120%;}
	.text-images p{font-size:70%;}
	}
@media all and (max-width:320px){
	.text-text{margin:0;}
	.text-images div.images{position:inherit; margin:2% auto;width:auto;}
	.text-images div.images a{margin:15px auto!important;font-size:60%; }
	.text-images div.images a img{max-width:195px!important;}
	.text-images div.images a span{padding:0!important;margin:0!important;}
	.text-images h2{font-size:120%;}
	.text-images p{font-size:70%;}
	}

/* Text Full - Orsay*/
.text-full{
	padding:0 5%;
	position:relative;
	}
.text-full img{
	position:absolute;
	top:50%;
	left:5%;
	margin:-380px 0 0 0;
	max-width:227px;
	}
.text{
	margin:-100px 0 0 250px;
	}
.text h2{
	color:#284795;
	font-style:italic;
	font-size:200%;
	font-weight:600;
	padding-bottom:10px;
	}
.text p{
	line-height:1.3;
	padding:10px 0;
	}

/*Adaptive Text Full*/
@media all and (min-width:481px) and (max-width:800px){
	.text h2{font-size:160%;}
	.text p{font-size:80%;}
	}
@media all and (min-width:321px) and (max-width:480px){
	.text-full img{max-width:150px;}
	.text{margin:0 0 0 170px;}
	.text h2{font-size:120%;}
	.text p{font-size:70%;}
	}
@media all and (max-width:320px){
	.text-full img{position: inherit;margin:0 auto; max-width:150px;}
	.text{margin:20px 0 0 0;}
	.text h2{font-size:120%;}
	.text p{font-size:70%;}
	}















